In [1]:
import pandas as pd

x = pd.read_csv('test_neighbors.csv')
x_good = x[x['confidence'] >= 0.88]

In [2]:
print(x_good['image'].nunique())
x_good

6567

      Unnamed: 0               image        target  confidence
0              0  5c9e04a6e6a9a2.jpg  547afd43d437    0.999008
1              1  d846a86edded63.jpg  03a3bbaeed84    0.998574
2              2  7a785b700b0339.jpg  c93996835aa8    0.998493
3              3  f628b07bdea128.jpg  191e293af2b5    0.997584
4              4  1e2985de58a097.jpg  3f483882f6a0    0.997527
...          ...                 ...           ...         ...
6568        6568  f2bda4416a3480.jpg  9336b7a2ae28    0.880060
6569        6569  e8e95f180795c6.jpg  04c451d68284    0.880057
6570        6570  ae8d30aaad3d33.jpg  9582cc692d85    0.880031
6571        6571  2d9ea48522faea.jpg  0563f71a4dd3    0.880019
6572        6572  1507570fdfb298.jpg  c7dfc3c54961    0.880017

[6573 rows x 4 columns]

In [3]:
x[x['confidence'] < 0.3]

         Unnamed: 0               image        target  confidence
1127774     1127774  df7e4b34cdb723.jpg  753ac51d3c0a    0.299848
1127775     1127775  d7f2c24b826447.jpg  484a04bf5fcb    0.299838
1127776     1127776  e99d34036805a0.jpg  9354ebcb1ef1    0.299816
1127777     1127777  6000939f0bf62d.jpg  8bf271b5c35b    0.299757
1127778     1127778  df7e4b34cdb723.jpg  ad77b05dbf3b    0.299728
...             ...                 ...           ...         ...
1127871     1127871  0f9e198a3fcae7.jpg  e7909e698ffa    0.291708
1127872     1127872  7d4528b5f078b9.jpg  f1caa11ebfb0    0.290366
1127873     1127873  7d4528b5f078b9.jpg  772f67969ae2    0.289784
1127874     1127874  7d4528b5f078b9.jpg  384d540ff8d7    0.289728
1127875     1127875  7d4528b5f078b9.jpg  fb1411606afd    0.289369

[102 rows x 4 columns]